/* ======================================================
//  MARK: Footer
// ====================================================== */

@layer components {
    @scope (.site-footer) {
        :scope {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* wp_nav_menu が出力する nav > ul */
        nav ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}