/* ======================================================
//  MARK: Font Face
// ====================================================== */

/* ローカルフォントを優先して読み込み */
@font-face {
    font-family: "Local Noto Sans JP";
    src:
        local("Noto Sans JP"),
        local("Noto Sans CJK JP Regular");
}

/* ======================================================
//  MARK: Base Styles
// ====================================================== */

:where(:root) {
    font-family: "Local Noto Sans JP", "Noto Sans JP", sans-serif;
}

/* ======================================================
//  MARK: Reduced Motion
// ====================================================== */

@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        transition-duration: 1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
    }
}